* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
html p {
  padding: 0;
  margin: 0;
}
html body {
  margin: 0;
  min-height: 100%;
  color: #333;
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}
html body li {
  list-style: none;
}
html body img,
html body image {
  display: inline-block;
  border: none;
}
html body textarea {
  resize: none;
}
html body a {
  text-decoration: none;
}
html body a:active {
  text-decoration: none;
}
html body a:hover {
  text-decoration: none;
}
.table-page-search-wrapper .ant-form-inline .ant-form-item {
  display: flex;
  margin-bottom: 24px;
  margin-right: 0;
}
.table-page-search-wrapper .ant-form-inline .ant-form-item .ant-form-item-control-wrapper {
  flex: 1 1;
  display: inline-block;
  vertical-align: middle;
}
.table-page-search-wrapper .ant-form-inline .ant-form-item > .ant-form-item-label {
  line-height: 32px;
  padding-right: 8px;
  width: auto;
}
.table-page-search-wrapper .ant-form-inline .ant-form-item .ant-form-item-control {
  height: 32px;
  line-height: 32px;
}
.table-page-search-wrapper .table-page-search-submitButtons {
  display: block;
  margin-bottom: 24px;
  white-space: nowrap;
}
